.venv/*
.vscode/*
__pycache__/*
leverage_data/*
leverage_data.egg-info/*
leverage_data/quality_results/*
leverage_data/backup/*
leverage_data/results/*
leverage_data/datasets/*
leverage_data/old_code/*
leverage_data/log_dir/*
leverage_data/figures/*
leverage_data/.secrets.yaml
leverage_data/weights/*
leverage_data/pre_train/*
leverage_data/scripts/*
leverage_data.egg-info/*
leverage_data/__pycache__/*
leverage_data/slurm_logs/*
leverage_data/notebooks/*
leverage_data/local/*
leverage_data/models/__pycache__/*
leverage_data/utils/__pycache__/*
leverage_data/data/__pycache__/*
leverage_data/data/__pycache__/*
.weights.yaml
.env
temp.txt